<label for="preg" class="rem">Pregunta:</label>
<input id="preg"  type="text" class="form-control"  name="quiz[pregunta]" value="<%= quiz.pregunta %>" onclick="if (this.value=='Pregunta') this.value='';"/><p>
<label for="resp" class="rem">Respuesta:</label>
<input id="resp"  type="text" class="form-control"  name="quiz[respuesta]" value="<%= quiz.respuesta %>" onclick="if (this.value=='Respuesta') this.value='';"/><p>
<label for="tema" class="rem">Tema:</label>
<select name="quiz[tema]">
 <option value="blue" <%= (quiz.tema === "blue") ? "selected" : "" %> >Geografía (blue)</option>
 <option value="brown" <%= (quiz.tema === "brown") ? "selected" : "" %> >Arte y Literatura (brown)</option>
 <option value="yellow" <%= (quiz.tema === "yellow") ? "selected" : "" %> >Historia (yellow)</option>
 <option value="pink" <%= (quiz.tema === "pink") ? "selected" : "" %> >Entretenimiento (pink) </option>
 <option value="green" <%= (quiz.tema === "green") ? "selected" : "" %> >Ciencias y Naturaleza (green)</option>
 <option value="orange" <%= (quiz.tema === "orange") ? "selected" : "" %> >Deportes (orange)</option>
<option value="GhostWhite" <%= (quiz.tema === "GhostWhite") ? "selected" : "" %> >ENLACES (GhostWhite)</option>
</select>
<a href="javascript:history.back(1);"><button type="button"><span class="glyphicon glyphicon-hand-left"></span>Cancelar</button></a>
<input type="submit" value="Salvar">


