<label for="preg" class="rem">Pregunta:</label>
<textarea id="preg" form="editandoform"  type="text" class="form-control"  name="quiz[pregunta]" value="<%= quiz.pregunta %>" onclick="if (this.value=='Pregunta') this.value='';"/></textarea><p>
<label for="resp" class="rem">Respuesta:</label>
<textarea id="resp" form="editandoform" type="text" class="form-control"  name="quiz[respuesta]" value="<%= quiz.respuesta %>" onclick="if (this.value=='Respuesta') this.value='';"/></textarea><p>
<label for="tema" class="rem">Tema:</label>
<select name="quiz[tema]">
 <option value="blue" <%= (quiz.tema === "blue") ? "selected" : "" %> >Geografía</option>
 <option value="brown" <%= (quiz.tema === "brown") ? "selected" : "" %> >Arte y Literatura</option>
 <option value="yellow" <%= (quiz.tema === "yellow") ? "selected" : "" %> >Historia</option>
 <option value="pink" <%= (quiz.tema === "pink") ? "selected" : "" %> >Entretenimiento</option>
 <option value="green" <%= (quiz.tema === "green") ? "selected" : "" %> >Ciencias y Naturaleza</option>
 <option value="orange" <%= (quiz.tema === "orange") ? "selected" : "" %> >Deportes</option>
<option value="GhostWhite" <%= (quiz.tema === "GhostWhite") ? "selected" : "" %> >ENLACES</option>
</select>
<a href="javascript:history.back(1);"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">


