 <label class="rem">Filtro:</label>

<select name="tema">
 <option value="otro" >Otro</option>
 <option value="humanidades">Geografía e Historia</option>
 <option value="ocio" >Deporte y Ocio</option>
 <option value="ciencia"  >Ciencia y Naturaleza</option>
 <option value="tecnologia"  >Tecnología</option>
</select>
<a href="javascript:history.back(1);"><button type="button">Cancelar</button></a>
<a href="javascript:window.open('http://joselonode.herokuapp.com/quizes?search:^'+document.tema.options[document.tema.selectedIndex].value);"><button type="button">Ir</button></a>

<form method='get' action='/quizes'>
 Buscar Preguntas: <input type="text"  name="search"/>
 <input type="submit" value="Buscar"/>
</form>
<%if(session.user){%>
<a id="BotonCrea" href="/quizes/new"><button type="button">Crear pregunta</button></a>
<%}%>
<div class="table-responsive">
<table class="table table-hover" id="tabpreg">

<% var i; for (i=0;i<quizes.length;i++) { %>
	<tr><td align="left" id="preg"><a  href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
	    <span class="badge" id="Tema"><%= quizes[i].tema %></span></td>
	    <%if (session.user) {%>
	      <td id="botoneditar"><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
	      <td id="botonborrar" >
		<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
		<button type="submit" onClick="return confirm('Borrar: <%=quizes[i].pregunta %>');">
		borrar
		</button>
		</form>
	      </td>
	    <%}%>
	</tr>
<% } %>
</table>
</div>
<p>
<p>
