 <label class="rem">Filtro:</label>
<form name="form1">
<select name="tema" onchange="javascript:window.open('/quizes?search=^'+document.form1.tema.options[document.form1.tema.selectedIndex].value,'_self');">
 <option value="*" >      </option>
 <option value="null" >Sin respuesta</option>
 <option value="GhostWhite" >ENLACES</option>
 <option value="blue" >Geografía</option>
 <option value="brown">Arte y Literatura</option>
 <option value="yellow">Historia</option>
 <option value="pink">Entretenimiento</option>
 <option value="green">Ciencias y Naturaleza</option>
 <option value="orange">Deportes</option>
</select>
<a href="javascript:history.back(1);"><button type="button">Volver</button></a>
</form>
<form method='get' action='/quizes'>
 Buscar Preguntas: <input type="text"  name="search"/>
 <input type="submit" value="Buscar"/>
</form>
<%if(session.user){%>
<a id="BotonCrea" href="/quizes/new"><button type="button">Crear pregunta</button></a>
<%}%>
<div class="table-responsive" style="background-color: #7e827a;box-shadow: -10px 5px black;">
<table class="table table-hover" id="tabpreg">

<% var i; for (i=0;i<quizes.length;i++) { %>
	<tr><td align="left" id="preg"><span class="badge" id="Tema" style="color:<%= quizes[i].tema %>;">@</span><a  href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
	    </td>
	    <%if (session.user) {%>
	      <td id="botoneditar"><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
	      <td id="botonborrar" >
		<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
		<button type="submit" onClick="return confirm('Borrar: <%=quizes[i].pregunta %>');">
		borrar
		</button>
		</form>
	      </td>
	    <%}%>
	</tr>
<% } %>
</table>
</div>
<p>
<p>
