
<a href="/quizes">&laquo; Volver a Preguntas</a>

<form method="get" action="/quizes/<%= quiz.id %>/answer">
 Pregunta: <%=quiz.pregunta%> <span class="badge" id="Tema"><%= quiz.tema %></span><p>
 <input type="text" name="respuesta" value='Respuesta' onclick="if (this.value=='Respuesta') this.value='';"/>
 <input type="submit" value="Enviar">
</form>
 <a href="<%= quiz.id %>/ahorcado"><button id="botoneditar">Juega al ahorcado</button></a>
<%if (session.user) {%>
	     <a href="<%= quiz.id %>/edit"><button id="botoneditar">editar</button></a>
	     <form method="post" action="<%= quiz.id %>?_method=delete">
		<button type="submit" id="botonborrar" onClick="return confirm('Borrar: <%=quiz.pregunta %>');">
                borrar
		</button>
		</form>
	    <%}%>
<p><a href="/quizes/<%=quiz.id%>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
	<%if(quiz.Comments[index].publicado ||session.user){%>
        <p>-<%if(quiz.Comments[index].texto.substr(0,4)=='http'){ var $enlace=quiz.Comments[index].texto%><a href="<%=$enlace%>" target="_blank"><%=quiz.Comments[index].texto%></a>
            <%}else if(quiz.Comments[index].texto.substr(0,3)=='img'){var $enlace=quiz.Comments[index].texto.substring(4)%> <img src="<%=$enlace%>" alt="<%=$enlace%>" style="width:100%"><%=quiz.Comments[index].texto%>
            <%}else if(quiz.Comments[index].texto.substr(0,5)=='audio'){var $enlace=quiz.Comments[index].texto.substring(6)%> <audio controls><source src="<%=$enlace%>" type="audio/mpeg" style="width:100%"><%=quiz.Comments[index].texto%> Your browser does not support the audio tag.</audio>
            <%}else if(quiz.Comments[index].texto.substr(0,5)=='video'){var $enlace=quiz.Comments[index].texto.substring(6)%> <video controls><source src="<%=$enlace%>" type="video/mp4" style="width:100%"><%=quiz.Comments[index].texto%> Your browser does not support the video tag.</video>
             <%}else if(quiz.Comments[index].texto.substr(0,2)=='yt'){ if(quiz.Comments[index].texto.indexOf('=')!=-1){var $enlace=quiz.Comments[index].texto.substring(quiz.Comments[index].texto.indexOf('='))}else{var $enlace=quiz.Comments[index].texto.substring(quiz.Comments[index].texto.lastIndexOf('/'))}%> <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=$enlace%>" frameborder="0" allowfullscreen></iframe><%=$enlace%>
            <%}else{%>
                    <%=quiz.Comments[index].texto%>
                    <%}%>
		<%if(session.user&&!quiz.Comments[index].publicado){%>
			<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish">
				<button>Publicar</button></a>
		<%}%>
                <%if(session.user&&quiz.Comments[index].publicado){%>
			<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/hide">
				<button>Ocultar</button></a>
		<%}%>
                <%if(session.user){%>
                         <form method="post" action="<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>?_method=delete">
                        <button type="submit" id="botonborrar" onClick="return confirm('Borrar: <%=quiz.Comments[index].id%>');">
                            Borrar
                        </button>
		</form>
			
		<%}%>
		</p>
	<%}%>
<%}%>
