<a href="javascript:history.back(1);"><button type="button">&laquo; Volver</button></a>
<a href="/quizes"><button type="button"> Ir a Preguntas</button></a>

<div <% var colorea='grey'; var nombretema='Sin Respuesta!'; switch(quiz.tema){
     case 'blue':
         colorea=quiz.tema;
         nombretema='Geografía';
         break;
     case 'orange':
         colorea=quiz.tema;
         nombretema='Deportes';
         break;
     case 'yellow':
         colorea=quiz.tema;
         nombretema='Historia';
         break;
     case 'brown':
         colorea=quiz.tema;
         nombretema='Arte y Literatura';
         break;
     case 'green':
         colorea=quiz.tema;
         nombretema='Ciencia y Naturaleza';
         break;
     case 'pink':
         colorea=quiz.tema;
         quiz.tema='Entretenimiento';
         break;
     case 'GhostWhite':
         colorea=quiz.tema;
         nombretema='ENLACES';
          break;
 };%>
 
 style='border-style:solid;border-color:<% colorea; %>;'>
 <h3><% nombretema%></h3>
<form method="get" action="/quizes/<%= quiz.id %>/answer">
 Pregunta: <%=quiz.pregunta%> <p>
 <input type="text" name="respuesta" value='Respuesta' onclick="if (this.value=='Respuesta') this.value='';"/>
 <input type="submit" value="Enviar"/>
</form>
 <a href="<%= quiz.id %>/ahorcado"><button id="botoneditar">Juega al ahorcado</button></a>
<%if (session.user) {%>
	     <a href="<%= quiz.id %>/edit"><button id="botoneditar">editar</button></a>
	     <form method="post" action="<%= quiz.id %>?_method=delete">
		<button type="submit" id="botonborrar" onClick="return confirm('Borrar: <%=quiz.pregunta %>');">
                borrar
		</button>
		</form>
	    <%}%>
	    <br>
	    </div>
<p><a href="/quizes/<%=quiz.id%>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
	<%if(quiz.Comments[index].publicado ||session.user){%>
        <p>-<%if(quiz.Comments[index].texto.substr(0,4)=='http'){ var $enlace=quiz.Comments[index].texto%><a href="<%=$enlace%>" target="_blank"><%=quiz.Comments[index].texto%></a>
            <%}else if(quiz.Comments[index].texto.substr(0,3)=='img'){var $enlace=quiz.Comments[index].texto.substring(4)%> <img src="<%=$enlace%>" alt="<%=$enlace%>" style="width:100%"><%=quiz.Comments[index].texto%>
            <%}else if(quiz.Comments[index].texto.substr(0,5)=='audio'){var $enlace=quiz.Comments[index].texto.substring(6)%> <audio controls><source src="<%=$enlace%>" type="audio/mpeg" style="width:100%"><%=quiz.Comments[index].texto%> Your browser does not support the audio tag.</audio>
            <%}else if(quiz.Comments[index].texto.substr(0,5)=='video'){var $enlace=quiz.Comments[index].texto.substring(6)%> <video controls><source src="<%=$enlace%>" type="video/mp4" style="width:100%"><%=quiz.Comments[index].texto%> Your browser does not support the video tag.</video>
            <%}else if(quiz.Comments[index].texto.substr(0,2)=='yt'){ if(quiz.Comments[index].texto.indexOf('=')!=-1){var $enlace=quiz.Comments[index].texto.substring(quiz.Comments[index].texto.indexOf('=')+1)}else{var $enlace=quiz.Comments[index].texto.substring(quiz.Comments[index].texto.lastIndexOf('/'))}%> <iframe style="width:100%" src="https://www.youtube.com/embed/<%=$enlace%>" frameborder="0" allowfullscreen></iframe><%=quiz.Comments[index].texto%>
            <%}else{%>
                    <%=quiz.Comments[index].texto%>
            <%}%>
		<%if(session.user&&!quiz.Comments[index].publicado){%>
			<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish">
				<button>Publicar</button></a>
		<%}%>
                <%if(session.user&&quiz.Comments[index].publicado){%>
			<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/hide">
				<button>Ocultar</button></a>
		<%}%>
                <%if(session.user){%>
                         <form method="post" action="<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>?_method=delete">
                        <button type="submit" id="botonborrar" onClick="return confirm('Borrar: <%=quiz.Comments[index].id%>');">
                            Borrar
                        </button>
		</form>
			
		<%}%>
		</p>
	<%}%>
<%}%>
