<a href="javascript:history.back(1);"><button type="button">&laquo; Volver</button></a>
<a href="/quizes"><button type="button"> Ir a Preguntas</button></a>
<div style='border-style:solid;border-color:<%=quiz.tema %>;
    background: <%=quiz.tema %>;
    background: -webkit-linear-gradient(white,<%=quiz.tema %>);'  >
<h3 id="tema" style='color:<%=quiz.tema %>;'></h3> 
<%if(quiz.tema!='GhostWhite'){ %><form method="get" action="/quizes/<%= quiz.id %>/answer">
 Pregunta: <%=quiz.pregunta%> <p>
 <input type="text" name="respuesta" value='Respuesta' onclick="if (this.value=='Respuesta') this.value='';"/>
 <input type="submit" value="Enviar"/>
</form>
 <a href="<%= quiz.id %>/ahorcado"><button id="botoneditar">Averigua con AHORCADO</button></a>
 <%}%>
<%if (session.user) {%>
	     <a href="<%= quiz.id %>/edit"><button id="botoneditar">editar</button></a>
	     <form method="post" action="<%= quiz.id %>?_method=delete">
		<button type="submit" id="botonborrar" onClick="return confirm('Borrar: <%=quiz.pregunta %>');">
                borrar
		</button>
		</form>
	    <%}%>
	    <br>
</div>
<p><a href="/quizes/<%=quiz.id%>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){ var comentario='';var autoria='';%>
	
	<%if(quiz.Comments[index].publicado ||session.user){%>
		<%if(quiz.Comments[index].texto.indexOf('(')!=-1){comentario=quiz.Comments[index].texto.substr(0,quiz.Comments[index].texto.indexOf('(')); autoria=quiz.Comments[index].texto.substr(quiz.Comments[index].texto.indexOf('('),quiz.Comments[index].texto.length);}
		else{ comentario=quiz.Comments[index].texto;autoria=''} %>
        <div class='container comenteiner'><p style="border: white 8px outset">-<%if(comentario.substr(0,4)=='http'){ var $enlace=comentario%><a href="<%=$enlace%>" target="_blank"><%=comentario%><p><small><%=autoria%></small> </p></a>
            <%}else if(comentario.substr(0,3)=='img'){var $enlace=comentario.substring(4)%> <img src="<%=$enlace%>" alt="<%=$enlace%>" style="width:100%"><p><small><%=autoria%></small> </p>
            <%}else if(comentario.substr(0,5)=='audio'){var $enlace=comentario.substring(6)%> <audio controls style="width:100%"><source src="<%=$enlace%>" type="audio/mpeg" >Your browser does not support the audio tag.</audio><p><small><%=autoria%></small> </p>
            <%}else if(comentario.substr(0,5)=='video'){var $enlace=comentario.substring(6)%> <video controls style="width:100%"><source src="<%=$enlace%>" type="video/mp4" > Your browser does not support the video tag.</video><p><small><%=autoria%></small> </p>
            <%}else if(comentario.substr(0,2)=='yt'){ if(quiz.Comments[index].texto.indexOf('=')!=-1){var $enlace=comentario.substring(quiz.Comments[index].texto.indexOf('=')+1)}else{var $enlace=comentario.substring(quiz.Comments[index].texto.lastIndexOf('/'))}%> <iframe style="width:100%" src="https://www.youtube.com/embed/<%=$enlace%>" frameborder="0" allowfullscreen></iframe><p><small><%=autoria%></small> </p>
             <%}else if(comentario.substr(0,6)=='iframe'){var $enlace=quiz.Comments[index].texto.substring(7)%><iframe src="<%=$enlace%>" style="width:100%">Navegador no compatible con iframe <%=$enlace%></iframe><small><%=autoria%></small>
	    <%}else{%>
                    <%=comentario%><small><%=autoria%></small>
            <%}%>
		<%if(session.user&&!quiz.Comments[index].publicado){%>
			<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish">
				<button>Publicar</button></a>
		<%}%>
                <%if(session.user&&quiz.Comments[index].publicado){%>
			<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/hide">
				<button>Ocultar</button></a>
		<%}%>
                <%if(session.user){%>
                         <form method="post" action="<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>?_method=delete">
                        <button type="submit" id="botonborrar" onClick="return confirm('Borrar: <%=quiz.Comments[index].id%>');">
                            Borrar
                        </button>
		</form>
			
		<%}%>
		</p></div>
	<%}%>
<%}%>
 <script>
     var nombretema='Sin Respuesta';
     switch('<%=quiz.tema%>'){
     case 'blue':
         nombretema='Geografía';
         break;
     case 'orange':
         nombretema='Deportes';
         break;
     case 'yellow':
         nombretema='Historia';
         break;
     case 'brown':
         nombretema='Arte y Literatura';
         break;
     case 'green':
         nombretema='Ciencia y Naturaleza';
         break;
     case 'pink':
         nombretema='Entretenimiento';
         break;
     case 'GhostWhite':
         nombretema='ENLACES';
          break;
 };
Tema=document.getElementById("tema");
Tema.innerHTML=nombretema;
 </script>
