<p>Número de preguntas: <%=stats.nQuizes %></p>
<p>Número de comentarios en total: <%=stats.nComments %></p>
<p>Media de comentarios por pregunta: <%=stats.nmedioCommentsXQuiz %></p>
<p>Número de preguntas sin comentarios: <%=stats.nQuizSinComment %></p>
<p>Número de preguntas con comentarios: <%=stats.nQuizConComment %></p>

