<table class="table table-striped">
<tbody>
<tr><td>Número de preguntas:</td><td><span class="badge"><a href='/quizes'><%=stats.nQuizes %></a></span></td></tr>
<tr><td>Número de comentarios en total:</td><td> <span class="badge" style="color:white"><%=stats.nComments %></span></td></tr>
<tr><td>Media de comentarios por pregunta:</td><td> <span class="badge"><%=stats.nmedioCommentsXQuiz %></span></td></tr>
<tr><td>Número de preguntas sin responder:</td><td> <span class="badge"><%=stats.nQuizSinComment %></span></td></tr>
<tr><td>Últimas preguntas comentadas:</td><td> <span class="badge"><a href='/quizes?search=<%=listQuizComment %>'><%=stats.nQuizConComment %></a></span></td></tr>
</tbody>
</table>
