<table class="table table-striped">
<tbody>
<tr><td>Número de preguntas:<span class="badge"><%=stats.nQuizes %></span></td></tr>
<tr><td>Número de comentarios en total: <span class="badge"><%=stats.nComments %></span></td></tr>
<tr><td>Media de comentarios por pregunta: <span class="badge"><%=stats.nmedioCommentsXQuiz %></span></td></tr>
<tr><td>Número de preguntas sin comentarios: <span class="badge"><%=stats.nQuizSinComment %></span></td></tr>
<tr><td>Número de preguntas con comentarios: <span class="badge"><%=stats.nQuizConComment %></span></td></tr>
</tbody>
</table>

